*.egg-info/
*.pyc
*.pyo
__pycache__
.idea/
.DS_Store
.mypy_cache/
.pytest_cache/
.coverage*
.vscode
**/scratch
.ropeproject/
log*.txt
__MACOSX
prof
*build
*dist
*site
coverage.xml
*.tif*
.ipynb_checkpoints/
